#holder {
	width: 300px;
	height: 120px;
	background-color: #d0d0ff;
	border-radius: 12px;
	font-size: 64px;
	text-align: center;
	line-height: 120px;
	margin: 0 auto;
}
body {
	text-align: center;
}
#search {
	font-size: 150%;
	width: 80%;
	padding: 0.3em;
}
#table {
	table-layout: fixed;
	width: 98%;
	overflow-x: auto;
	margin: 0 auto;
	font-size: 90%;
	border-spacing: 10px 0px;
	text-align: left;
}
td {
	white-space: nowrap;
	overflow: scroll;
}
#bpm {
    width: 3em;
}
#playbuttons {
	width: 1em;
}
#last {
    font-size: 80%;
}
#audio {
    width: 80%;
    margin-bottom: 1.6em;
}
.playbutton {
    user-select: none;
    cursor: default;
}
.playbutton:hover {
    cursor: pointer;
}