body {
	text-align: center;
	font: caption;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px; /* 5em */
	background-color: gray;
	margin: 0;
	left: 0;
	padding-top: 0.6em;
}
footer {
	height: 96px; /* 6em */
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	margin:0;
	background-color:gray;
	padding: 0.6em 0.6em 0;
}
#search {
	font-size: 150%;
	width: 80%;
	padding: 0.3em;
}
#status {
	font-size: 80%;
}
#audio {
	width: 80%;
	margin-bottom: 0.6em;
}
#splash, #firstrun, #dragover {
	margin: 88px auto 105.6px auto;
	padding: 2em;
	display: none;
}
#firstrun p, #dragover p {
	font-size: 200%;
}
#dragover {
	z-index:2;
	pointer-events: none;
	background-color: blue;
	color: white;
	height: 100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
}
#help {
	display:none;
	position:fixed;
	top:0;
	left:0;
	margin:3em;
	background-color:rgba(0,0,0,0.85);
	color:white;
	border-radius: 2em;
	height: calc(100vh-6em);
	width: calc(100% - 6em);
	z-index:1;
	text-shadow: #000 1px 1px 7px;
	box-shadow: 1px 1px 10px rgb(100,100,100);
}
#closeshortcuts {
	text-align: right;
	text-decoration: underline;
	font-weight: bold;
	padding-right: 2em;
	user-select: none;
	margin-bottom: 0;
}
#help h3 {
	margin-top: 0;
}
#help table {
	margin: 0 auto 1em;
}
#help table td {
	padding: 0.3em;
}
.shortcut {
	color: #dd0;
	font-family:monospace;
	font-weight:bold;
	text-align: right;
}
.sd { /* shortcut description */
	text-align:left;
}
#hundredpercent {
	width: 100%;
	background-color:gray;
}
#xpercent {
	width: 0px;
	height: 30px;
	background-color: green;
}
#listing {
	margin:88px 0 105.6px 0; /* height+padding of footer */
	font-size: 13px;
}
.nowplaying {
	background-color:#ffffe2;
}
.big-table__col-2 {
	user-select: none;
}