body {
	text-align: center;
	font: caption;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px; /* 5em */
	background-color: gray;
	margin: 0;
	left: 0;
	padding-top: 0.6em;
}
footer {
	height: 96px; /* 6em */
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	margin:0;
	background-color:gray;
	padding: 0.6em 0.6em 0;
}
#search {
	font-size: 150%;
	width: 80%;
	padding: 0.3em;
}
#status {
	font-size: 80%;
}
#audio {
	width: 80%;
	margin-bottom: 0.6em;
}
#splash, #firstrun, #dragover {
	margin: 88px auto 105.6px auto;
	padding: 2em;
	display: none;
}
#firstrun p, #dragover p {
	font-size: 200%;
}
#dragover {
	z-index:1;
	pointer-events: none;
	background-color: blue;
	color: white;
	height: 100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
}
#hundredpercent {
	width: 100%;
	background-color:gray;
}
#xpercent {
	width: 0px;
	height: 30px;
	background-color: green;
}
#listing {
	margin:88px 0 105.6px 0; /* height+padding of footer */
	font-size: 13px;
}
.nowplaying {
	background-color:#ffffe2;
}